<div class="read-more">
  {% for post in site.related_posts limit:1 %}
    <div class="read-more-header">
      <a href="{{ site.url }}{{ page.previous.url }}" class="read-more-btn">Read More</a>
    </div><!-- /.read-more-header -->
    <div class="read-more-content">
      <h3><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
      <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 140 }}&hellip;{% endif %} <a href="{{ site.url }}{{ post.url }}">Continue reading</a></p>
    </div><!-- /.read-more-content -->
  {% endfor %}
  <div class="read-more-list">
      <div class="list-item">
        {% if site.use_lsi %}
          {% for post in site.related_posts limit:3 %}
            {% include post-list-item.html post=post %}
          {% endfor %}
        {% elsif post.categories.first %}
          {% assign category_posts = site.categories[post.categories.first] %}
          {% assign plusone = false %}
          {% for post in category_posts limit:4 %}
            {% if post.url == page.url %}
              {% assign plusone = true %}
              {% continue %}
            {% endif %}
            {% if forloop.index < 4 or plusone == true %}
              {% include post-list-item.html post=post %}
            {% endif %}
          {% endfor %}
        {% elsif post.tags.first %}
          {% assign tag_posts = site.tags[post.tags.first] %}
          {% assign plusone = false %}
          {% for post in tag_posts limit:4 %}
            {% if post.url == page.url %}
              {% assign plusone = true %}
              {% continue %}
            {% endif %}
            {% if forloop.index < 4 or plusone == true %}
             {% include post-list-item.html post=post %}
            {% endif %}
          {% endfor %}
        {% else %}
          {% for post in site.related_posts limit:3 %}
            {% include post-list-item.html post=post %}
          {% endfor %}
        {% endif %}
          <h4><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h4>
          <span>Published on {{ post.date | date: "%B %d, %Y" }}</span>               
        
     </div><!-- /.list-item -->  
  </div><!-- /.read-more-list -->
</div><!-- /.read-more -->
